[data-testid="field-groups"] > [data-testid="field-group-root"] > [data-testid="field-group-tabs"] div:has(button#all-fields-tab) {
  display: none;
}

/* SIDE-BY-SIDE */
[data-testid="Media"]:has(> .media-items) {
  width: auto;
  padding: 4px 6px;
  aspect-ratio: 2/1;
}

[data-testid="Media"]:has(> .media-items) .media-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-testid="Media"]:has(> .media-items) .media-item {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0 2px;
  display: flex;
  overflow: clip;
}

[data-testid="Media"]:has(> .media-items) .media-item:only-child {
  width: 100%;
  aspect-ratio: auto;
  margin: 0;
}

[data-testid="Media"]:has(> .media-items) .media-item img {
  border-radius: 0;
  object-fit: cover;
}

[data-testid="Media"]:has(> .media-items) .media-item.--empty {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25 25" xml:space="preserve" fill="none"><path vector-effect="non-scaling-stroke" d="M5.5 15.5L8.79289 12.2071C9.18342 11.8166 9.81658 11.8166 10.2071 12.2071L12.8867 14.8867C13.2386 15.2386 13.7957 15.2782 14.1938 14.9796L15.1192 14.2856C15.3601 14.1049 15.6696 14.0424 15.9618 14.1154L19.5 15M5.5 6.5H19.5V18.5H5.5V6.5ZM15.5 10.5C15.5 11.0523 15.0523 11.5 14.5 11.5C13.9477 11.5 13.5 11.0523 13.5 10.5C13.5 9.94772 13.9477 9.5 14.5 9.5C15.0523 9.5 15.5 9.94772 15.5 10.5Z" stroke="%23515870" stroke-width="1.2" stroke-linejoin="round"></path></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80% 80%;
}

/* STACKED */
[data-testid="Media"]:has(> .media-items-stacked) .media-items-stacked {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-testid="Media"]:has(> .media-items-stacked) .media-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-testid="Media"]:has(> .media-items-stacked) .media-item.--empty {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25 25" xml:space="preserve" fill="none"><path vector-effect="non-scaling-stroke" d="M5.5 15.5L8.79289 12.2071C9.18342 11.8166 9.81658 11.8166 10.2071 12.2071L12.8867 14.8867C13.2386 15.2386 13.7957 15.2782 14.1938 14.9796L15.1192 14.2856C15.3601 14.1049 15.6696 14.0424 15.9618 14.1154L19.5 15M5.5 6.5H19.5V18.5H5.5V6.5ZM15.5 10.5C15.5 11.0523 15.0523 11.5 14.5 11.5C13.9477 11.5 13.5 11.0523 13.5 10.5C13.5 9.94772 13.9477 9.5 14.5 9.5C15.0523 9.5 15.5 9.94772 15.5 10.5Z" stroke="%23515870" stroke-width="1.2" stroke-linejoin="round"></path></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80% 80%;
}