// @font-face {
//   font-family: 'Graphik-Semibold';
//   src: url('/fonts/Graphik-Semibold-Web.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Graphik-Black';
//   src: url('/fonts/Graphik-Black-Web.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'MANIC-Regular';
  src: url('/fonts/MANIC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MANIC-Alternates1';
  src: url('/fonts/MANIC-Alternates1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MANIC-Alternates3';
  src: url('/fonts/MANIC-Alternates3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
