@use "vars" as *;

// --------------------------------------------
// Respond-to and hoverability
// --------------------------------------------

@mixin respond-to($mq) {
  @media all and #{$mq} {
    @content;
  }
}

@mixin can-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin abs-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

@mixin header-ht($property) {
  #{$property}: 80px;

  @include respond-to($tablet) {
    #{$property}: 100px;
  }

  @include respond-to($average-desktop) {
    #{$property}: 120px;
  }
}

// --------------------------------------------
// Keyframes
// --------------------------------------------

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// --------------------------------------------
// Logos, icons, etc
// --------------------------------------------

@mixin example($fill) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 0 0" xml:space="preserve" fill="#{svgColorMaker($fill)}"><path d=""/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
