// --------------------------------------------
// Colors...
// --------------------------------------------

$bone: #faeed9;
$flesh: #f25f36;
$midnight: #1a1a1a;

// --------------------------------------------
// Fonts...
// --------------------------------------------

// $graphik-semibold: 'Graphik-Semibold', sans-serif;
// $graphic-black: 'Graphik-Black', sans-serif;
// $tomarik: 'tomarik-brush', sans-serif;
$manic: 'MANIC-Regular', sans-serif;
$manic-alt1: 'MANIC-Alternates1', sans-serif;
$manic-alt3: 'MANIC-Alternates3', sans-serif;

$graphik-semibold: sans-serif;
$graphic-black: sans-serif;
$tomarik: sans-serif;
// $manic: sans-serif;
// $manic-alt1: sans-serif;
// $manic-alt3: sans-serif;

// --------------------------------------------
// Speeds...
// --------------------------------------------

$speed-333: 333ms;
$speed-666: 666ms;

// --------------------------------------------
// Easy does it...
// --------------------------------------------

$ease-in: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-out: cubic-bezier(0.333, 1.000, 0.666, 1.000);
$evil-ease: cubic-bezier(0.666, 0.000, 0.333, 1.000);

// --------------------------------------------
// Spaces...
// --------------------------------------------

$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;

// --------------------------------------------
// Breakpoints...
// --------------------------------------------

$portrait:           '(orientation: portrait)';
$landscape:          '(orientation: landscape)';
$mobile:             '(min-width: 375px)';
$small-tablet:       '(min-width: 540px)';
$tablet:             '(min-width: 768px)';
$large-tablet:       '(min-width: 1024px)';
$desktop:            '(min-width: 1280px)';
$average-desktop:    '(min-width: 1440px)';
$macbook:            '(min-width: 1680px)';
$retina-macbook:     '(min-width: 1920px)';
$largest-screens:    '(min-width: 2000px)';

// --------------------------------------------
// Functions...
// --------------------------------------------

@function span($n) {
  @return calc($n / 14 * (100vw - var(--scrollbar-width)));
}

@function svgColorMaker($color) {
  @return '%23' + str-slice('#{$color}', 2, -1);
}
