@font-face {
  font-family: 'Graphik-Semibold';
  src: url('/fonts/Graphik-Semibold-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Black';
  src: url('/fonts/Graphik-Black-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MANIC-Regular';
  src: url('/fonts/MANIC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MANIC-Alternates1';
  src: url('/fonts/MANIC-Alternates1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MANIC-Alternates3';
  src: url('/fonts/MANIC-Alternates3.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
