@use "sass:math";

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min: 320px;
$max: 1440px;

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-family: $graphik-semibold;
  @include fluid-type($min, $max, 12px, 18px);
  line-height: 1.666em;
  font-variant-ligatures: common-ligatures;
}

strong {
  font-family: $tomarik;
  text-transform: uppercase;
}

.label {
  @include fluid-type($min, $max, 11px, 14px);
  line-height: 1.2em;
}

.brush {
  font-family: $tomarik;
  @include fluid-type($min, $max, 20px, 30px);
  line-height: 1.2em;
  text-transform: uppercase;
  font-variant-ligatures: normal;

  &.xs {
    @include fluid-type($min, $max, 14px, 18px);
  }

  &.sm {
    @include fluid-type($min, $max, 18px, 24px);
  }

  &.lg {
    @include fluid-type($min, $max, 24px, 36px);
  }
}

.manic {
  font-family: $manic;
  @include fluid-type($min, $max, 20px, 30px);
  line-height: 1.2em;
  text-transform: uppercase;

  &.xs-reg {
    @include fluid-type($min, $max, 14px, 30px);
  }

  &.sm {
    @include fluid-type($min, $max, 14px, 20px);
  }

  &.md {
    @include fluid-type($min, $max, 16px, 24px);
  }
}

.manic-alt-1 {
  font-family: $manic-alt1;
  @include fluid-type($min, $max, 14px, 18px);
  line-height: 1.1em;
  text-transform: uppercase;

  &.bone {
    -webkit-text-stroke: 0.02em $bone;
  }
}

.manic-alt-3 {
  font-family: $manic-alt3;
  @include fluid-type($min, $max, 14px, 18px);
  line-height: 1.1em;
  text-transform: uppercase;

  &.bone {
    -webkit-text-stroke: 0.02em $bone;
  }
}

.h1 {
  font-family: $graphic-black;
  @include fluid-type($min, $max, 44px, 102px);
  line-height: 1em;
  text-transform: uppercase;

  &.flesh {
    -webkit-text-stroke: 0.03em $flesh;
  }

  &.xs {
    @include fluid-type($min, $max, 30px, 80px);
    line-height: 1.2em;
  }

  &.sm {
    @include fluid-type($min, $max, 40px, 90px);
  }
}

.h2 {
  font-family: $graphic-black;
  @include fluid-type($min, $max, 30px, 76px);
  line-height: 1em;
  text-transform: uppercase;

  &.sm {
    @include fluid-type($min, $max, 24px, 60px);
  }
}

.h3 {
  font-family: $graphic-black;
  @include fluid-type($min, $max, 30px, 48px);
  line-height: 1em;
  text-transform: uppercase;
}

.h4 {
  font-family: $graphic-black;
  @include fluid-type($min, $max, 24px, 36px);
  line-height: 1em;
  text-transform: uppercase;
}

.h5 {
  font-family: $graphic-black;
  @include fluid-type($min, $max, 20px, 30px);
  line-height: 1em;
  text-transform: uppercase;

  .manic {
    @include fluid-type($min, $max, 16px, 24px);
  }
}
